

body {
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    background-color: var(--background-color-primary);
    font-weight: 400;
    font-size: 14px;
}

  .filter__list,
  .examples__list,
  .menu__list,
  .benefits__list,
  .services__list,
  .team__list,
  .team__social--list,
  .footer__social--list,
  .clients__list {
      list-style-type: none;
  }

  img {
    display: block;
  }

  .mobile-menu__social , 
.mobile-menu__contacts , 
.mobile-menu__pages{
    list-style-type: none;
}

.mobile-menu__social--link,
.mobile-menu__pages--link,
.mobile-menu__contacts--tel,
.mobile-menu__contacts--mail  {
    text-decoration: none;
}

.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 