:root {
    --color-primary: #212121;
    --color-active: #2196f3;
    --color-secondary: #757575;
    --color-text: #fff;

    --color-icons: #afb1b8;
    --color-icons-footer: #ffffff;

    --background-color-section: #f5f4fa;
    --background-color-click: #188CE8;
    --background-color-primary: #fff;
    --background-color-bord: #2f303a;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --bg-icons-color: #F5F4FA;
    --bg-icons-footer-color: rgba(255, 255, 255, 0.1);

    --label-color: #757575;
    --footer-input-color: rgba(255, 255, 255, 0.6);
}