.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color-bord);
    line-height: 1.72;
}




.footer__logo {

    color: var(--color-text);
    font-family: var(--font-family-logo);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;

    text-align: center;
}

.footer__logo--inverse {
    color: var(--color-active);
}

@media screen and (max-width:767px) {
    .footer__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .footer__box {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:1200px) {
    .footer__logo {
        text-align: start;
    }

    .footer__box {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}