

.menu__logo { display: block;

    color: var(--color-primary);
    font-family: var(--font-family-logo);
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;

}

.menu__logo-inverse {
    color: var(--color-active);
}

@media screen and (max-width:767px) {

.menu__logo{
    margin-right: 0;
    padding: 15px 15px;
    padding-right: 0;
}
    .menu {
        display: none;
    }
    
    .open-mobile-menu-btn {
        padding: 0;
        border: 0;
        background-color: transparent;
        line-height: 0;
        margin-left: auto;
    }
    
    .icon-burger {
        width: 40px;
        height: 40px;
        
    }
    
}

@media screen and (min-width:768px) {
    
    .open-mobile-menu-btn {
        display: none;
    }

    .menu {
    display: flex;
    align-items: center;
    padding: 0;
   

    &__logo {
        margin-right: 88px;
        padding-left: 15px;
        line-height: 1.16;
        
    }

    &__list {
        display: flex;
    padding: 0px;
    margin: 0;
    margin-right: 90px;
    }

    &__item{
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
}
}

.menu__link {
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &::after {
        content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
        
            opacity: 0;
        
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--color-active);
    }

    &:hover, &:focus {color: var(--color-active); }
}

.menu__link.current::after {
    opacity: 1;
}


@media screen and (min-width:1200px) {
    .menu__logo {
        font-size: 26px;
        line-height: 1.94;
        margin-right: 93px;
    }

    .menu__link {
        font-size: 14px;
    }
}







